name: Master
run-name: Master
on: [push]
jobs:
  main:
    name: Setup and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - run: npm install
      - run: npm run tsc
      - run: npm run test
